<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="lnr lnr-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="lnr lnr-book"></i>My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="lnr lnr-diamond"></i> Form Example</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#"><i class="lnr lnr-bookmark"></i> Filter Example</a>
            </li>
            </ul>

    </div>
  </div>
  <!-- END LEFT SIDEBAR -->