<!-- NAVBAR -->
<nav class="navbar navbar-expand-sm navbar-default fixed-top">
		<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="assets/img/v2.png" class="img-responsive logo">
		</a>
	
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
			<!-- <ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Setting</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Help</a>
				  </li>
			</ul> -->

			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="assets/img/uservan.jpg" class="img-circle" alt="Avatar">
					</a>

					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
					  <a class="dropdown-item" routerLink="/profile" routerLinkActive="active"><i class="lnr lnr-user"></i> Profil</a>
						<a class="dropdown-item" href="#"><i class="lnr lnr-star"></i> Login</a>
						<a class="dropdown-item" href="#"><i class="lnr lnr-earth"></i> Logout</a>
					</div>
				</li>
			  </ul>
		</div>
		</div>

	</nav>
	<!-- END NAVBAR -->